<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">

<head>
    <title>Nueva Factura</title>
</head>

<body>
    <section layout:fragment="content" class="p-4">
        <h2 class="mb-4">Nueva empleado</h2>
        <div class="card shadow-sm">

            <div th:if="${mensajeError}" class="alert alert-warning" role="alert">
                <p th:text="${mensajeError}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="card-header  bg-white">
                <div class="card-header">
                    <a th:href="@{/facturas/}" class="btn btn-af-secondary btn-sm">
                        <i class="bi bi-arrow-left"></i> Volver
                    </a>
                </div>
            </div>
            <div class="card-body  p-1">
                <form th:action="@{/empleados/}" th:method="post" th:object="${empleado}" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" name="nombre" id="nombre" th:field="*{nombre}" class="form-control" required>
                        <div class="invalid-feedback">
                            Por favor, ingrese un nombre
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar empleado</button>
                </form>
            </div>
        </div>


        <script>
            $(document).ready(function () {
                $('.js-example-basic-single').select2();
            });
        </script>
    </section>

</body>

</html>