<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">

<body>

    <section layout:fragment="content" class="p-4">
        <h2>Crear cliente</h2>
        <div class="card shadow-sm ">
            <div class="card-header bg-white">
                <a th:href="@{/clientes/}" class="btn btn-af-secondary btn-sm">
                    <i class="bi bi-arrow-left"></i> Volver
                </a>
            </div>
            <div class="card-body">
                <form th:action="@{/clientes/}" method="post" th:object="${cliente}">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">(*) Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}"
                            placeholder="Ingrese su nombre" required/>
                        <div th:if="${#fields.hasErrors('nombre')}" th:class="invalid-feedback">
                            <div th:each="error : ${#fields.errors('nombre')}">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}"
                            placeholder="Ingrese su apellido" />
                        <div th:if="${#fields.hasErrors('apellido')}" th:class="invalid-feedback">
                            <div th:each="error : ${#fields.errors('apellido')}">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="cuit" class="form-label">(*) CUIT/DNI</label>
                        <input type="text" class="form-control" id="cuit" name="cuit" th:field="*{cuit}"
                            placeholder="Ingrese su CUIT" required/>
                        <div th:if="${#fields.hasErrors('cuit')}" th:class="invalid-feedback">
                            <div th:each="error : ${#fields.errors('cuit')}">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" th:field="*{direccion}"
                            placeholder="Ingrese su dirección" />
                        <div th:if="${#fields.hasErrors('direccion')}" th:class="invalid-feedback">
                            <div th:each="error : ${#fields.errors('direccion')}">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="localidad" class="form-label">Localidad</label>
                        <input type="text" class="form-control" id="localidad" name="localidad" th:field="*{localidad}"
                            placeholder="Ingrese su localidad" />
                        <div th:if="${#fields.hasErrors('localidad')}" th:class="invalid-feedback">
                            <div th:each="error : ${#fields.errors('localidad')}">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" th:field="*{telefono}"
                            placeholder="Ingrese su teléfono" />
                        <div th:if="${#fields.hasErrors('telefono')}" th:class="invalid-feedback">
                            <div th:each="error : ${#fields.errors('telefono')}">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="condicionFiscal" class="form-label"> (*)Condición fiscal</label>
                        <select class="form-select" id="condicionFiscal" name="condicionFiscal"
                            th:field="*{condicionFiscal}"required>
                            <option th:each="condicion : ${condicionesFiscales}" th:value="${condicion}"
                                th:text="${condicion.descripcion}"></option>
                        </select>
                    <button type="submit" class="btn btn-success">Crear</button>
                </form>

            </div>
        </div>
    </section>
</body>

</html>