<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}"> <!-- APUNTA A TU ARCHIVO BASE -->

<head>
    <title>Clientes</title>
    <!-- Puedes añadir CSS específico para index aquí si usas layout:fragment="styles" -->
</head>

<body>

    <!-- ZONA CLAVE: Este contenido se inyecta en el fragmento "content" de la base -->
    <section layout:fragment="content">
        <h1>¡Bienvenido a la página de Notas de credito!</h1>
        <div class="card">
            <div class="card-header">
                <a th:href="@{/notaCredito/crear}" class="btn btn-primary">Crear nueva Nota de credito </a>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>

                            <th>Fecha de emisi n</th>
                            <th>Monto</th>
                            <th>Motivo</th>

                            <th colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody th:each="notaCredito : ${listaNotaCredito}">
                        <tr>

                            <td th:text="${notaCredito.getFechaFormateada()}"></td>
                            <td th:text="${notaCredito.monto}"></td>
                            <td th:text="${notaCredito.motivo}"></td>
                            <!-- <td th:text="${notaCredito.estado}"></td> -->
                            <!-- <td><a th:href="@{/notaCredito/{id}(id=${notaCredito.idNotaCredito})}" class="btn btn-primary">Ver</a>
                            </td>
                            <td><a th:href="@{/notaCredito/{id}/editar(id=${notaCredito.idNotaCredito})}"
                                    class="btn btn-warning">Editar</a></td>
                            <td><a th:href="@{/notaCredito/{id}/eliminar(id=${notaCredito.idNotaCredito})}"
                                    class="btn btn-danger">Eliminar</a></td> -->
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>

</body>

</html>