<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>Ver Histórico Fiscal</title>
</head>

<body>

<section layout:fragment="content">
    <h1>Detalle del Histórico Fiscal</h1>
    <div class="card">
        <div class="card-body">
            <p>ID Histórico: <span th:text="${historico.idHistorico}"></span></p>
            <span th:text="${fechaOperacionFormateada}"></span>
            <p>Cliente: <span th:text="${historico.cliente.apellido + ', ' + historico.cliente.nombre}"></span></p>
            <p>CUIT Cliente: <span th:text="${historico.cliente.cuit}"></span></p>
            <p>Empleado: <span th:text="${historico.empleado.nombre}"></span></p>
            <p>Tipo de Operación: <span th:text="${historico.tipoOperacion}"></span></p>
            <p>Descripción: <span th:text="${historico.descripcion}"></span></p>
            <p>Condición Fiscal: <span th:text="${historico.cliente.condicionFiscal}"></span></p>
        </div>

        <div class="card-footer">
            <a th:href="@{/historico}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</section>

</body>
</html>
