<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">

<head>
    <title>Listado de facturas</title>
</head>

<body>
    <section layout:fragment="content" class="p-4">
        <h2 class="mb-4">Facturas</h2>

        <div class="card shadow-sm">
            <div class="card-header bg-white">
                <a th:href="@{/facturas/crear}" class="btn btn-af-primary btn-sm">Crear factura</a>
            </div>
            <div class="card-body p-0">

                <table class="table table-hover mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Nro. de factura</th>
                            <th>Fecha de emisión</th>
                            <th>Tipo de factura</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th colspan="4" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="factura : ${facturas}">
                            <td th:text="${factura.numeroFactura}"></td>
                            <td th:text="${factura.getFechaFormateada()}"></td>
                            <td th:text="${factura.tipoFactura}"></td>
                            <td th:text="${factura.total}"></td>
                            <td th:text="${factura.estado}"></td>
                            <td><a href="#" class="btn btn-af-view btn-sm">Ver</a></td>
                            <td><a href="#" class="btn btn-af-edit btn-sm">Editar</a></td>
                            <td><a href="#" class="btn btn-af-delete btn-sm">Eliminar</a></td>
                            <td><a th:href="@{/generar/{id}(id=${factura.idFactura})}" class="btn btn-af-view btn-sm">
                                    <i class="bi bi-file-earmark-pdf-fill"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- Botones de navegación -->
            <div class="btn-group d-flex justify-content-center">
                <a th:href="@{/facturas/(pagina=0)}" class="btn btn-outline-secondary">Primera</a>

                <a th:if="${paginaActual > 0}" th:href="@{/facturas/(pagina=${paginaActual - 1})}"
                    class="btn btn-outline-primary">←</a>

                <button class="btn btn-primary" disabled>
                    <span th:text="${paginaActual + 1}"></span>
                </button>

                <a th:if="${paginaActual < totalPaginas - 1}" th:href="@{/facturas/(pagina=${paginaActual + 1})}"
                    class="btn btn-outline-primary">→</a>

                <a th:href="@{/facturas/(pagina=${totalPaginas - 1})}" class="btn btn-outline-secondary">Última</a>
            </div>
    </section>
</body>