<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}">

<head>
    <title>Detalle de factura</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="card">

            <div class="card-header">
                <a th:href="@{/facturas/crear}" class="btn btn-af-secondary btn-sm">
                    <i class="bi bi-arrow-left"></i> Volver
                </a>
            </div>
            <div class="card-body">

                <h1>Detalle de factura</h1>
                <form th:action="@{/facturas/agregarDetalleFactura}" th:method="get">

                    <div class="form-group">
                        <label for="servicios">Servicios</label>
                        <select class="js-example-basic-single form-control" id="servicios" name="idServicio">
                            <option value="">Seleccione un servicio</option>
                            <option th:each="servicio : ${servicios}" th:value="${servicio.idServicio}"
                                th:text="${servicio.nombreServicio}">
                            </option>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>

            </div>
        </div>




        <script>
            $(document).ready(function () {
                $('.js-example-basic-single').select2();
            });
        </script>
    </section>

</body>

</html>