<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base}"> <!-- APUNTA A TU ARCHIVO BASE -->

<head>
    <title>Página de Inicio</title>
    <!-- Puedes añadir CSS específico para index aquí si usas layout:fragment="styles" -->
</head>

<body>

    <!-- ZONA CLAVE: Este contenido se inyecta en el fragmento "content" de la base -->
    <section layout:fragment="content">
        <h1>¡Bienvenido a la página de inicio!</h1>
        <ul>
            <li><a th:href="@{/clientes/}">gestion clientes</a></li>
            <li><a th:href="@{/facturas/}">gestion facturas</a></li>
            <li><a th:href="@{/empleados/}">gestion empleados</a></li>


        </ul>

    </section>

</body>

</html>